{% extends "base.html" %} {% block title %}새 상품 등록{% endblock %} {% block
content %}
<h2>상품 등록</h2>
<form method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  제목:
  <input type="text" name="title" placeholder="상품 제목" required /><br />
  설명: <br />
  <textarea name="description" placeholder="상품 설명" required></textarea
  ><br />
  가격:
  <input
    type="number"
    name="price"
    placeholder="가격"
    step="0.01"
    min="0"
    required
  /><br />
  <button type="submit">등록하기</button>
</form>
{% endblock %}
